.title-header {
    font-family: fantasy;
    color: darkslateblue;
    font-weight: bolder;
    margin: 0 auto;
}

* {
    background-color: thistle;
    font-family: fantasy;
    margin: 10px;
    width: 70%;
}